@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans';
}

#container {
    height: 90vh;
    width: 95vw;
    display: block;
    margin: auto;
}

#online_users {
    float: right;
    width: 15%;
}

#online_users h4 {
    text-align: left;
    margin: 0px 20px;
}

#online_users ul {
    list-style: none;
    padding-left: 0px;
    margin: 10px 20px;
}

#online_users li {
    padding: 5px 0px;
}

#chat_window {
    background: #f9f7fc;
    border-radius: 10px;
    width: 85%;
    height: 95%;
    display: flex;
    flex-direction: column;
    float: left;
}

#chat_messages {
    padding: 0px 10px;
    height: 90%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

#chat_messages ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 10px;
}

#user_typing_message {
    margin-left: 15px;
    font-size: 14px;
    color: #545454;
    height: 25px; /* I need this so that the rest of the messages don't shift up when the text appears */
}
.message {
    background-color: white;
    border: 1px solid #dbdcdd;
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
    display: inline-block;
    border-radius: 15px;
}

.message .header {
    margin-bottom: 2px;
}

.nickname {
    font-weight: bold;
}

#chat_form {
    margin: 10px 10px;
    display: grid;
    grid-template-columns: 18fr 2fr;
}
#chat_input {
    border-radius: 5px;
    border: 1px solid #ededed;
    height: 20px;
    padding: 10px 10px;
    font-size: 16px;
    width: 98%;
}

#submit_button {
    border: 1 px solid #13ddc2;
    font-size: 16px;
    color: white;
    background-color: #13ddc2;
    border-radius: 8px;
    padding: 10px 15px;
    margin-left: 10px;
}

#submit_button:hover {
    background-color: #0a7f6f;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    #container {
        width: 100%;
        height: 93vh;
    }

    #chat_window {
        width: 100%;
        border-radius: 0px;
    }

    #container h3 {
        text-align: center;
    }

    #online_users {
        visibility: hidden;
        clear: both;
        display: none;
    }
}