<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
    <div id="container">
        <h3 v-text="room_name"></h3>            
        <div id="chat_window">
            <div id="chat_messages">
                <ul>
                    <chatmessage v-for="(message, index) in messages" :message="message" :key="index"></chatmessage>
                </ul>
            </div>
            <form v-on:submit.prevent="sendMessage" id="chat_form">
                <input v-model="chat_input" id="chat_input" type="text" placeholder="Enter message..." id="message" autocomplete="off"/>
                <button id="submit_button" type="submit" value="Send">Send</button>
            </form>
        </div>
        <div id="online_users">
            <h4>Online</h4>
            <ul>
                <li v-for="(user, index) in online_users" 
                    :key="index" 
                    v-text="user.nickname"
                    v-bind:style="{ color: user.color}"></li>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="main.js"></script>
</body>
</html>